@using OVB.Project.Eschody.Monolithic.WebView.Models.Auth.CreateAccount;
@using OVB.Project.Eschody.Monolithic.WebView.Models.Messages;
@using System.Text.Json;
@model CreateAccountInputModel;
@{
    ViewData["Title"] = "Logar-se";
}

<div class="text-right">
    <h1 class="display-4">Crie sua conta</h1>
    <form asp-action="CreateInput" asp-controller="Auth">
        <div class="mb-3">
            <label for="usrnameInput" class="form-label">Nome de usuário</label>
            <input asp-for="Username" type="text" class="form-control" id="usrnameInput" placeholder="OtavioVillas">
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="emailInput" placeholder="suporte@eschody.com.br">
        </div>
        <div class="mb-3">
            <label for="passwInput" class="form-label">Senha</label>
            <input asp-for="Password" type="password" class="form-control" id="passwInput" placeholder="********">
        </div>
        <div class="mb-3">
            <label for="ccnfpasswInput" class="form-label">Confirme sua senha</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="cnfpasswInput" placeholder="********">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary form-control" value="CRIAR CONTA">
        </div>
    </form>
</div>

