<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Balta</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Balta.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/content_app/styles/header.css" asp-append-version="true">
    <link rel="stylesheet" href="~/content_app/styles/global.css" asp-append-version="true">
    <script src="~/content_app/javascript/header/function.js" defer></script>
</head>
<body>
    <header>
        <nav class="navigation">
            <div class="page-resume">
                <img src="~/content_app/assets/eschody_favicon_white.png" alt="Logo do @ViewData["SiteName"], Logo">
                <h1 class="page-resume-title">@ViewData["SiteName"]</h1>
            </div>
            <div class="page-navigation">
                <ul>
                    <li><a asp-area="Usuario" asp-controller="Estudos" asp-action="Materia" asp-route-id="1">Menu Principal</a></li>
                    <li><a asp-controller="Home" asp-action="#">Blog</a></li>
                    <li><a asp-controller="Home" asp-action="#">A plataforma</a></li>
                </ul>
            </div>
            <div class="page-navigation-login-area">
                <a asp-action="Index" asp-controller="Login" class="login-button-link">ACESSO</a>
            </div>
            <div class="mobile-menu-icon">
                <button class="icon-menu"><img class="mobile-menu-icon-icon" src="~/content_app/assets/menu_white_36dp.svg"></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Menu Principal</a></li>
                <li><a asp-controller="Home" asp-action="#">Blog</a></li>
                <li><a asp-controller="Home" asp-action="#">A plataforma</a></li>
            </ul>
            <div class="login-button-area-item">
                <a asp-action="Index" asp-controller="Login" class="login-button-link">ACESSO</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Balta - <a asp-area="" asp-page="/Privacy">Privacidade</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>