@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Website para processo seletivo do <a href="https://balta.io">Balta.io</a></p>
</div>
