@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacidade desse website";
}
<h1>@ViewData["Title"]</h1>
<p>Essa página da web foi criada para participação do processo seletivo do <a href="https://balta.io">Balta</a>. Desenvolvido por <a href="https://github.com/OtavioVB/">Otávio Villas Boas Simoncini Carmanini;</a></p>
